//---------------------------
// Grid for about page
//---------------------------

// .thegrid {
//   display: grid;
//   grid-template-columns: auto auto auto;
//   grid-gap: 5px;
// }
// 
// @media screen and (max-width: 640px) {
//   .thegrid {
//     grid-template-columns: auto auto;
//   }
// }
// 
// @media screen and (max-width: 480px) {
//   .thegrid {
//     grid-template-columns: auto;
//   }
// }

.column-list {
  columns: 150px;
  list-style: none;
  padding: 0;
}