<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name='theme-color' content='#fff' />
  <meta name="google-site-verification" content="xIsYPMTBoiQ099YB9cjbSuIw3ZnjEYGbqS43v5peCbo" />
  {% if page.path == "index.html" %}<title>{{site.title}} {% if page.title %} | {{ page.title }}{% endif %}</title>{% elsif page.url contains '/tag/' %}{% capture url_path %}{{page.url | split: "/"}}{% endcapture %}<title>{{ url_path | slice: 3,15 }} | {{site.title}}</title>{% else %}<title>{% if page.title %}{{ page.title }} | {% endif %}{{site.title}}</title>{% endif %}
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500&family=Source+Serif+Pro:ital,wght@1,300&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
  <noscript>
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500&family=Source+Serif+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
  </noscript>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl }}">
  <link rel="icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" sizes="any">
  <link rel="icon" href="{{ '/favicon.svg' | prepend: site.baseurl }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl }}"><!-- 180×180 -->
  <link rel="manifest" href="{{ '/manifest.json' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/styles/main.min.css' | prepend: site.baseurl }}">
  <script>
  var base_url = {{ site.baseurl | jsonify }};
  </script>
</head>