<article class="post-card-wrap column medium-6 large-4">
  <div class="post-card">
    <div class="grey-bg post-card__image FlexEmbed">
      <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
        <img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20600%22%3E%3C%2Fsvg%3E" data-src="{{ post.thumb | prepend: site.baseurl }}" alt="{{ post.title }}" width="800" height="600">
        {% if post.featured %}<span title="Featured Post">
          <span class="post-card--featured__icon" data-icon="ei-star" data-size="s"></span>
        </span>{% endif %}
      </a>
    </div>
    <!-- <div class="post-card__meta"><span class="post-card__meta__date">{{ post.date | date: "%b %-d, %Y" }}</span></div> -->
    <h2 class="post-card__title">
    <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
  </div>
</article>
