<!-- Pagination links -->
{% if page.previous_in_category or page.next_in_category %}
<div class="pagination clearfix">
  {% if page.previous_in_category != nil %}
    <div class="column small-6 medium-6 large-6 left">
      <a class="newer-posts" href="{{ page.previous_in_category.url | prepend: site.baseurl }}"><div data-icon="ei-chevron-left"></div> <span>Newer</span></a>
    </div>
  {% endif %}
  {% if page.next_in_category != nil %}
    <div class="column small-6 medium-6 large-6 right">
      <a class="older-posts" href="{{ page.next_in_category.url | prepend: site.baseurl }}"><span>Older</span> <div data-icon="ei-chevron-right"></div></a>
    </div>
  {% endif %}
</div>
{% endif %}
