<div class="row row--full">
  <div class="column large-12">
    <header class="page-header box secondary-menu">
      <div data-icon="ei-pointer" data-size="s" class="box__icon rotated"></div>
      <ul class="box__body tags-navi">
        <li class='box__title'><a title="all posts" class="nav-link{% if page.id == 'blog' %} active{% endif %}" href="{{ '/blog/' | prepend: site.baseurl }}">all</a></li>
        <li class='box__title'><a title="" class="nav-link{% if page.tag == 'events' %} active{% endif %}" href="{{ '/tag/events/' | prepend: site.baseurl }}">events</a></li>
        <li class="box__title"><a title="" class="nav-link{% if page.tag == 'interviews' %} active{% endif %}" href="{{ '/tag/interviews/' | prepend: site.baseurl }}">interviews</a></li>
        <li class="box__title"><a title="" class="nav-link{% if page.tag == 'campaign' %} active{% endif %}" href="{{ '/tag/campaign/' | prepend: site.baseurl }}">campaign</a></li>
         <li class="box__title"><a title="" class="nav-link{% if page.tag == 'products' %} active{% endif %}" href="{{ '/tag/products/' | prepend: site.baseurl }}">products</a></li>
      </ul>
      <select aria-label="Category">
        {% if page.id == "blog" %}
        <option selected value="{{ site.baseurl }}/blog/">all</option>
        {% else %}
        <option value="{{ site.baseurl }}/blog/">all</option>
        {% endif %}
        {% if page.tag == "events" %}
        <option selected value="{{ site.baseurl }}/tag/events/">events</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/events/">events</option>
        {% endif %}
        {% if page.tag == "interviews" %}
        <option selected value="{{ site.baseurl }}/tag/interviews/">interviews</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/interviews/">interviews</option>
        {% endif %}
        {% if page.tag == "campaign" %}
        <option selected value="{{ site.baseurl }}/tag/campaign/">campaign</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/campaign/">campaign</option>
        {% endif %}
        {% if page.tag == "products" %}
        <option selected value="{{ site.baseurl }}/tag/products/">products</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/products/">products</option>
        {% endif %}
      </select>
    </header>
  </div>
</div>