<div class="row row--full">
  <div class="column large-12">
    <header class="page-header box secondary-menu">
      <div data-icon="ei-pointer" data-size="s" class="box__icon rotated"></div>
      <ul class="box__body tags-navi">
        <li class='box__title'><a title="all projects" class="nav-link{% if page.id == 'index' %} active{% endif %}" href="{{ '/' | prepend: site.baseurl }}">all</a></li>
        <li class='box__title'><a title="residences" class="nav-link{% if page.tag == 'the-home' %} active{% endif %}" href="{{ '/tag/the-home/' | prepend: site.baseurl }}">the home</a></li>
        <li class="box__title"><a title="office and business premises" class="nav-link{% if page.tag == 'the-office' %} active{% endif %}" href="{{ '/tag/the-office/' | prepend: site.baseurl }}">the office</a></li>
        <li class="box__title"><a title="retail stores" class="nav-link{% if page.tag == 'the-shop' %} active{% endif %}" href="{{ '/tag/the-shop/' | prepend: site.baseurl }}">the shop</a></li>
        <li class="box__title"><a title="food &amp; beverage spaces" class="nav-link{% if page.tag == 'the-fun' %} active{% endif %}" href="{{ '/tag/the-fun/' | prepend: site.baseurl }}">the fun</a></li>
        <li class="box__title"><a title="hotels" class="nav-link{% if page.tag == 'the-stay' %} active{% endif %}" href="{{ '/tag/the-stay/' | prepend: site.baseurl }}">the stay</a></li>
        <li class="box__title"><a title="museums, archaeological sites, academic premises, etc." class="nav-link{% if page.tag == 'the-culture' %} active{% endif %}" href="{{ '/tag/the-culture/' | prepend: site.baseurl }}">the culture</a></li>
        <li class="box__title"><a title="public spaces, transportation facilities, venues, commodity services, etc." class="nav-link{% if page.tag == 'for-more' %} active{% endif %}" href="{{ '/tag/for-more/' | prepend: site.baseurl }}">for more</a></li>
      </ul>
      <select aria-label="Category">
        {% if page.id == "index" %}
        <option selected value="{{ site.baseurl }}/">all</option>
        {% else %}
        <option value="{{ site.baseurl }}/">all</option>
        {% endif %}
        {% if page.tag == "the-home" %}
        <option selected value="{{ site.baseurl }}/tag/the-home/">the home</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/the-home/">the home</option>
        {% endif %}
        {% if page.tag == "the-office" %}
        <option selected value="{{ site.baseurl }}/tag/the-office/">the office</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/the-office/">the office</option>
        {% endif %}
        {% if page.tag == "the-shop" %}
        <option selected value="{{ site.baseurl }}/tag/the-shop/">the shop</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/the-shop/">the shop</option>
        {% endif %}
        {% if page.tag == "the-fun" %}
        <option selected value="{{ site.baseurl }}/tag/the-fun/">the fun</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/the-fun/">the fun</option>
        {% endif %}
        {% if page.tag == "the-stay" %}
        <option selected value="{{ site.baseurl }}/tag/the-stay/">the stay</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/the-stay/">the stay</option>
        {% endif %}
        {% if page.tag == "the-culture" %}
        <option selected value="{{ site.baseurl }}/tag/the-culture/">the culture</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/the-culture/">the culture</option>
        {% endif %}
        {% if page.tag == "for-more" %}
        <option selected value="{{ site.baseurl }}/tag/for-more/">for more</option>
        {% else %}
        <option value="{{ site.baseurl }}/tag/for-more/">for more</option>
        {% endif %}
      </select>
    </header>
  </div>
</div>